<div class="row">
  <div class="col-10">
    <h3 class="description mb-0">
      Configuration de Negocios
    </h3>
    <div>
      <small>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ipsa iusto, voluptate dolores totam neque ex eos, doloribus, facilis dolore eveniet veritatis assumenda quasi iure quia tenetur saepe obcaecati reiciendis culpa magnam alias aliquam? Velit tempore quod laudantium incidunt magni consequatur iusto? Deserunt recusandae hic in aliquid magnam illum qui distinctio doloremque reprehenderit iure. Est, neque voluptas necessitatibus adipisci magnam praesentium, ex natus facilis iusto dicta ducimus quaerat! Pariatur ullam ducimus, tenetur, odio reiciendis, id molestiae labore molestias ipsa similique perspiciatis animi. Eveniet et nostrum enim ut, repudiandae consectetur ad neque dolores sapiente quasi nisi rem autem velit ullam repellat.
        </span>
      </small>
    </div>

    <div class="alert alert-warning alert-with-icon alert-dismissible fade show" data-notify="container">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="nc-icon nc-simple-remove"></i>
      </button>
      <span data-notify="icon" class="nc-icon nc-alert-circle-i"></span>
      <span data-notify="message">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et repellendus cum perferendis deleniti hic minus, dolorem iure soluta ratione deserunt.
      </span>
    </div>
  </div>
  <div class="col-2 text-right">
    <button class="btn btn-sm btn-outline-info btn-round btn-icon"><i class="nc-icon nc-simple-add"></i></button>
  </div>
</div>
<hr/>

<app-business></app-business>