<div class="card card-user">
  <div class="card-header">
    <h4 class="card-title">{{currentBusinnes?.business}}</h4>
  </div>
  <div class="card-body">
    <form #projectForm="ngForm">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Servidor</label>
            <input type="text" name="server" [(ngModel)]="currentBusinnes.server" required class="form-control" placeholder="Input Project Short Name">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Base de Datos</label>
            <input type="text" name="dataBase" [(ngModel)]="currentBusinnes.db" class="form-control" placeholder="" value="">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Usuario BD</label>
            <input type="text" name="userDb" [(ngModel)]="currentBusinnes.userDB" class="form-control" placeholder="" value="">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Contraseña</label>
            <input type="text" name="password" [(ngModel)]="currentBusinnes.password" class="form-control" placeholder="" value="">
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Puerto</label>
            <input type="text" name="port" [(ngModel)]="currentBusinnes.port" class="form-control" placeholder="" value="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <button type="submit" (click)="onSave()" class="btn btn-primary btn-round" [disabled]="isExecuted">
            <span *ngIf="isSaving" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span> Grabar</span>
          </button>
          <a href="http://www.google.com" target="_blanck" class="btn btn-primary btn-round">
            <span> Descargar Script</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>